{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href={% static 'favicon.png' %}/>
    <title>
        {% block page_title %}
            Coffee Station
        {% endblock page_title %}
    </title>

    {% include "forall/_link_files.html" %} 
    <style>
        .owl-carousel.owl-drag .owl-item{
            touch-action: manipulation;
        }
    </style>
    {% block pageSpecificCSS %} 
    {% endblock pageSpecificCSS %}

</head>

<body>

    {% include 'forall/_nav_header.html' %} 

    
   {% include 'forall/_messages.html' %} 
    
    
    {% block content %} 
    {% endblock content %} 
    
    {% include 'forall/_footer.html' %} 
    
    {% include 'forall/_loader_snippet.html' %} 
    
    {% include 'forall/_script_files.html' %} 

    <script>
        const alertp = document.querySelector('.alert-container')
        const close = document.querySelector('.alert button.close')
        close.addEventListener('click', ()=>{
            $('.alert-container').slideUp("slow")
        })
        
    </script>

    {% block pageSpecificJS %} 
    {% endblock pageSpecificJS %}

</body>

</html>