{% extends 'forall/base.html' %}
{% load static %}

{% block pageSpecificCSS %}
<style>
.input-group > .form-control {
    flex-grow: 0;
    width: 50px;
}
.decrease:hover,
.increase:hover {
    cursor:pointer;
}
</style>
{% endblock pageSpecificCSS %}

{% block content %}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Cart</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href={% url 'core:home' %}>Home</a></span> <span>Cart</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_order_summary_snippet.html' %}

<div class="container">
<div class="row justify-content-end">
            <div class="col col-lg-3 col-md-6  cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>${{ cart_items.get_cart_total }}</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span>$0.00</span>
                    </p>
                    <p class="d-flex">
                        <span>Discount</span>
                        <span>$0.00</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>${{ cart_items.get_cart_total }}</span>
                    </p>
                </div>
                <p class="text-center"><a href={% url 'shop:checkout' %} class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
            </div>
        </div>
</div>

{% include 'forall/_related_products_snippet.html' %}

{% endblock content %}

{% block pageSpecificJS %}
<script>
    $('document').ready(function(){
        const increase = document.querySelector('.increase')
        const decrease = document.querySelector('.decrease')

        const item_count = document.querySelector('.item-count')
        
        increase.addEventListener('click', (event)=>{
            let slug = increase.getAttribute('data-slug')
            let url = '/shop/add-one-to-cart/'+slug
            fetch(url)
                .then(response=>response.json())
                .then(response=>{
                    item_count.value = response.quantity
                })
        })

        decrease.addEventListener('click', (event)=>{
            let slug = increase.getAttribute('data-slug')
            let url = '/shop/remove-one-from-cart/'+slug
            let redirect_url = ''
            fetch(url)
                .then(response=>response.json())
                .then(response=>{
                    item_count.value = response.quantity
                    if(!response.quantity) {
                        window.location.assign("/shop/coffee-machines")
                    }
                })
        })        
    })

</script>
{% endblock %}