{% extends 'forall/base.html' %}
{% load static %}

{% block page_title %}
    Shop
{% endblock page_title %}

{% block pageSpecificCSS %}
<style>
    #v-pills-tabContent {
        width: 100vw;
    }

    .item-desc {
        height: 80px;
    }
</style>
{% endblock pageSpecificCSS %}

{% block content %}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Order Online</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href={% url 'core:home' %}>Home</a></span> <span>Shop</span></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-menu mb-5 pb-5">
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-lg-12 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab"  role="tablist" aria-orientation="vertical">
                            {% for category in categories %}
                            <a class="nav-link {% if category_param == category.slug %}active{% endif %}" id="v-pills-3-tab"  href={% url 'shop:shop'  category.slug  %} role="tab" aria-controls="v-pills-3" aria-selected="false">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">
                        <div class="tab-content ftco-animate" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-0" role="tabpanel" aria-labelledby="v-pills-0-tab">
                                <div class="row">
                                    {% for item in items %}
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="menu-entry w-100">
                                            <a href="#" class="img" style="background-image:url({{ item.image.url }}) "></a>
                                            <div class="text text-center pt-4">
                                                <h3><a href={% url 'shop:product_single' item.slug  %}>{{ item.title }}</a></h3>
                                                <p class="item-desc">{{ item.description | truncatechars:80}}</p>
                                                <p class="price"><span>${{ item.price }}</span></p>
                                                <p><a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block pageSpecificJS %}
    {% comment %} <script>
        const title = document.title
        let li_a = document.querySelectorAll('.navbar-nav li > a')
        console.log(li_a)
        for( item in li_a ){
            console.log(item.innerText)
        }
    </script> {% endcomment %}
{% endblock pageSpecificJS %}
